body {
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.left {
  width: 24vw;
  height: 75vh;
  background-color: rgb(25, 25, 25);
  border-radius: 10px;
  position: fixed;
  left: 5px;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}
.right {
  width: 74.5vw;
  height: 75vh;
  background-color: rgb(25, 25, 25);
  border-radius: 10px;
  position: fixed;
  right: 5px;
  overflow-y: scroll;
}
.leftc {
  width: 90%;
  height: 100%;
}
nav {
  background-color: black;
  top: 0;
  padding: 5px 0px;
  position: sticky;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
}
#spotify {
  width: 120px;
  padding: 0px 20px;
  cursor: pointer;
}
#home {
  width: 30px;
  padding: 10px;
  background-color: rgb(29, 29, 29);
  border-radius: 45%;
  cursor: pointer;
  transition: 0.1s;
}
#home:hover {
  background-color: rgb(39, 39, 39);
  transform: scale(1.03);
}
#searchsong {
  background-color: rgb(29, 29, 29);
  border: none;
  height: 50px;
  width: 40vw;
  padding: 0px 30px;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  transition: 0.3s;
}
#searchsong:hover {
  background-color: rgb(39, 39, 39);
}
.types {
  background-color: rgb(25, 25, 25, 0.9);
  position: sticky;
  top: 0;
  padding: 15px 30px;
  display: flex;
  gap: 10px;
  z-index: 1;
}
.types button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}
.albums{
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}
.album {
  width: 150px;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.album span{
  padding: 0px 5px;
}
#albuminfo{
  opacity: 0.5;
}
.album:hover {
  background-color: rgb(39, 39, 39);
}
.album:hover #play-butt {
  opacity: 1;
}
.section {
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.section img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
#play-butt {
  opacity: 0;
  width: 20px;
  height: 20px;
  background-color: #00ff00;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  right: 20px;
  top: 120px;
  cursor: pointer;
}
.albums h1 {
  padding: 0px 15px;
}
.libb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}
#close{
  width: 20px;
  visibility: hidden;
}
.playart button {
  font-size: 15px;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  font-weight: bold;
  background-color: rgb(39, 39, 39);
  color: white;
  cursor: pointer;
}
.songlist ul{
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 5px;
}
.songlist ul li{
  list-style: none;
  padding: 10px 20px;
  border-radius: 15px;
  background-color:rgb(39, 39, 39);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.songlist ul li:hover{
  background-color:#333;
}
.songlist ul li img{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  cursor: pointer;
}
.songlist div{
  display: flex;
  flex-direction: column;
}
footer {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0px;
  opacity: 0.5;
  position: relative;
}
footer span {
  padding: 0px 15px 0px 0px;
  cursor: pointer;
}
footer hr {
  position: absolute;
  top: 10px;
  width: 90%;
  opacity: 0.3;
}
::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: #333;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #444;
}
::-webkit-scrollbar-thumb:active {
  background-color: #444;
}
.player {
  bottom: 0;
  position: fixed;
  height: 60px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: black;
}
.playingsong {
  display: flex;
}
#playimg {
  border-radius: 10px;
  width: 50px;
}
.songinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px;
}
#psong {
  font-size: 15px;
  cursor: pointer;
  display: flex;
  width: 250px;
}
#psong:hover {
  text-decoration: underline;
}
#partist {
  opacity: 0.5;
  cursor: pointer;
}
#partist:hover {
  text-decoration: underline;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.butts {
  display: flex;
  gap: 25px;
  cursor: pointer;
}
.butts img:hover,
.volume img:hover {
  transform: scale(1.1);
}
.butts img {
  width: 20px;
  padding: 5px;
}
#playbutton {
  border-radius: 45%;
  background-color: white;
}
#previous,#next {
  opacity: 0.7;
}
#shuffle,#repeat{
  border-radius: 50%;
}
.seekbar input {
  width: 30vw;
  height: 3px;
  cursor: pointer;
}
.volume {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0px 30px;
}
.volume input {
  height: 3px;
  width: 100px;
  cursor: pointer;
}
.volume img {
  width: 17px;
  cursor: pointer;
}
.phoneplayer{
  display: none;
}
.info span{
  opacity: 0.5;
}

@media (max-width:450px){
  .left{
    position: absolsute;
    left: -100%;
    z-index: 2;
    background-color: black;
    height: 78vh;
    margin: 8px;
    width: 60vw;
    transition: all .3s;
  }
  #spotify{
    width: 90px;
    padding: 5px;
  }
  #searchsong{
    width: 45vw;
    height: 30px;
    font-size: 15px;
    padding: 10px 20px;
  }
  .right{
    height: 80vh;
    width: 95vw;
    margin: 10px;
    position: static;
  }
  .albums{
    padding: 0px;
  }
  .albums h1{
    display: flex;
    justify-content: center;
  }
  .section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .types{
    padding: 10px;
  }
  #close{
    visibility: visible;
  }
  .player{
    height: 7.5vh;
    width: 93vw;
    background-color:rgb(39, 39, 39);
    margin: 10px;
    border-radius: 10px;
    z-index: -1;
  }
  .buttons, .volume{
    visibility: hidden;
  }
  #playbutton{
    visibility: visible;
    position: absolute;
    top: 20px;
    right: 10px;
  }
  ::-webkit-scrollbar{
    width: 0px;
    height: 0px;
  }
  footer{
    display: none;
  }
  .phoneplayer{
    visibility: hidden;  
    position: fixed;
    top: 70px ;
    z-index: 2;
    height: 90vh;
    width: 95vw;
    margin: 10px;
    background-color: slategray;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
  }
  .psonginfo{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .psonginfo div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  #playingimg{
    border-radius: 20px;
    width: 90vw;
    height: 50vh;
  }
  .pbutts img{
    width: 30px;
    background-color: gray;
    padding: 15px;
    border-radius: 45%;
  }
  .pbutts{
    display: flex;
    gap: 30px;
  }
  #pseeker{
    width: 200px;
  }
  .pseekbar{
    padding: 10px;
  }
}